input {
    width: 200px;
    height: 50px;
    text-align: center;
    background: purple;
    color: yellow;
    border: solid 5px yellow;
    border-radius: 30px;
    font-size: 2rem;
    text-decoration: none;
}

button {
    height: 40px;
    width: 100px;
}

body {
    align-content: center;
    background: grey;
}

div {
    position: absolute;
    left: 41.5%;
    top: 20vh;
}

li {
    font-size: 2em;
}